/* Webkit */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    height: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
  }
  
  p  {
      color:#334155;
      font-family: "Open Sans", Helvetica, sans-serif;
      font-size: 14px;
      line-height: 24px;
  }

  section {
    padding: 16px 0px;
  }

  .cardsRow {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
  }

  .card {
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    height: 200px;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    flex: auto;
  }

  .cardGhost {
    cursor: default;
    text-decoration: none;
    width: 300px;
    height: 200px;
    display: flex;
    overflow: hidden;
    background-color: none;
    flex: auto;
  }

  .card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease, box-shadow 0.8s ease; /* Apply transition to transform and box-shadow */
  }

  .cardCake {
    background-image: url('../img/thumbs/thumb_cake.png'); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardPCSoftware {
    background-image: url('../img/thumbs/thumb_pcSoftware.png'); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardBIS {
    background-image: url('../img/thumbs/thumb_BIS.png'); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardGaming {
    background-image: url('../img/thumbs/thumb_Gaming.png'); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardBrand {
    background-image: url('../img/thumbs/thumb_brand.png'); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardDataVis {
    background-image: url('../img/thumbs/thumb_dataVis.png'); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  h1 {
    color:#171717;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
  
  h2 {
    color:#334155;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    font-size:18px;
  }

  h3 {
    color:#171717;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    font-size:14px;
  }
  
  .copy {
    width: 680px;
    margin: 0px auto ;
    /*float: left;*/
    padding: 60px 0px 120px 120px;
  }
  
  header {
    height: 60px;
    width: 100%;
  }
  
  #logo {
    color: #171717;
    float: right;
  }
  
  footer {
    text-align: center;
    font-size: 10px;
    color: #999;
    padding: 40px 0px;
  }
  
  
  
  /* Slidebars */
  
  .sb-slidebar {
    display: block;
    float: left;
    position: fixed;
    width: 270px;
    height: 100%;
    margin-left: -8px;
    margin-top: -8px;
    letter-spacing: .05em;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 13px;
      background-color: #2F323A; /* Background colour. */
      color: #FFF; /* Text colour. */
  }
  
  .sb-slidebar a {
      color: #006833; /* Chip colour. */
      text-decoration: none;
  }
  
  .sb-slidebar a:hover {
      color: #fff; /* Link hover colour. */
      text-decoration: underline;
  }
  
  /* Main Menu */
  .sb-menu { /* Apply to <ul> or <ol>. */
      padding: 0;
      margin: 0;
      list-style-type: none;
  }
  
  .sb-menu li {
      width: 100%;
      padding: 0;
      margin: 0;
      border-top: 1px solid #292C33;
      border-bottom: 1px solid #292C33;
  }
  
  .sb-menu li a {
      width: 100%; /* Makes links full width. */
      display: inline-block;
      padding: 1.2em; /* Creates an even padding the same size as your font. */
      color: #FFF;
  }
  
  .sb-menu li:hover {
      text-decoration: none;
      background-color: #23262C;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  
  .sb-menu li a:hover {
      text-decoration: none;
  }
  
  .sb-menu li.selected a {
      color: #00A651;
  }
  
  /* Borders */
  .sb-left .sb-menu li a {
      border-left: 3px solid transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, border-color;
    transition-property: color, border-color;
  }
  
  .sb-left .sb-menu li a:hover {
      border-left: 3px solid #00A651; /* Removes transparent colour, so border colour will be the same as link hover colour. */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, border-color;
    transition-property: color, border-color;
  }
  
  /* SUB-MENU */
  
  .sb-menu .open {
    list-style: none;
    padding-left: 0px;
    background-color: #23262C;
    color: #999;
  }
  
  .sb-menu .open li {
    width: 100%;
      padding: 0;
      margin: 0;
    border-top: none;
    border-bottom: none;
  }
  
  .sb-menu .open li a:active {
    border-left: 3px solid #00A651; /* Removes transparent colour, so border colour will be the same as link hover colour. */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, border-color;
    transition-property: color, border-color;
  }
  
  .sb-menu .open li:hover {
      text-decoration: none;
      background-color: #18191D;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  
  .sb-menu li.selected a {
      color: #00A651;
  }
  
  .sb-menu li.default a {
      color: #999;
  }
  
  .sb-menu .open li.default a {
      color: #999;
  }
  
  .sb-menu .open li.selected a {
      color: #00A651;
  }